<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness App - {{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url('/assets/images/gymPic.jpg');
            /* Replace with your fitness app background image */
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body class="bg-blue-100">
    {{{body}}} <!-- This is where the content from other templates will be inserted -->

</body>

</html>